//create by focus on 2018/7/11 17:33
h1, h2, h3, h4, h5, h6 ,ul,p,input{
    margin: 0;
}

ul,input{
    padding: 0;
}

input,textarea,button,select{
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}